body {
    background-color: #da9054;
    font-family: 'open sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

.container-all {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.ctn-form {
    width: 80%;
    padding: 40px;
    background: #f7f7f7;
}

.logo {
    width: 150px;
    display: block;
    margin: auto;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    color: #000000;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    color: #7a7a7a;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0);
    border: 0px;
    outline: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: #c58f64;
    font-family: 'open sans';
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    margin-top: 60px;
    color: rgb(0, 0, 0);
    border: 0px;
    background: linear-gradient(90deg, #7bd65f, #72501e);
    font-weight: 300;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background: linear-gradient(90deg, #72501e, #7bd65f);
}

.text-footer {
    display: block;
    margin-top: 100px;
    text-align: center;
    color: #7a7a7a;
    font-weight: 300;
    font-family: 'open sans';
    font-size: 20px;
}

.text-footer a {
    color: #029EE1;
    font-weight: 500;
}


/* TEXTO DE ERROR */

.msg-error {
    color: red;
    display: block;
    margin-top: 10px;
}


/* RESPONSIVE */

@media screen and (max-width: 800px) {
    .ctn-text {
        display: none;
    }
    .ctn-form {
        margin: auto;
        width: 100%;
        background: white;
    }
}

@media screen and (max-width: 500px) {
    .title-welcome {
        font-weight: 400;
        font-size: 30px;
        margin-top: 20px;
    }
}